<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trombinoclock</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <a href="/">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSguQI6gaZeLtzhy_sgsPFSe1ZFQ0iIambuwA&usqp=CAU" alt="" class="header__logo">
        </a>
        <h1 class="header__title">Trombinoclock</h1>
        <nav class="header__nav">
            <a href="#" class="header__nav__btn">S'inscrire</a>
            <a href="#" class="header__nav__btn">Se connecter</a>
        </nav>
    </header>
    <main>
