<%- include('partials/header') %>

<div class="main_buttons">
    <a href="/promos" class="main__link">Liste des promos</a>
    <a href="#" class="main__link">Liste des étudiants</a>
</div>

<%- include('partials/footer') %>